{{- partial "load-photoswipe-theme.html" . }}

{{ if .Site.Params.bigimg }}
  {{ $firstimg := index .Site.Params.bigimg 0 }}
  <header class="header-section has-img" style="height: 100vh;">
    <div class="intro-header big-img">
      <!-- Background Image with CSS Rotation for Smaller Screens -->
      <style>
        .intro-header.big-img {
          background-image: url('{{$firstimg.src | absURL}}');
          background-size: cover;
          background-position: center;
          height: auto;
        }

      </style>

      <!-- About Me Section -->
      <div class="container" style="color: white; padding-top: 40px; padding-bottom: 20px">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            {{ partial "aboutme.html" . }}
          </div>
        </div>
      </div>
    </div>
  </header>
{{ end }}
