{{ define "main" }}
  <div role="main" class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        {{ range site.Params.mainSections }}
          {{ $section := . }}
              <h2 class="section-heading">{{  $section | title }}</h2>
        

        <div class="posts-list">
          {{ $pages := (where site.RegularPages "Section"  $section) }}
          {{ range $pages}}
            {{ partial "post_preview" . }}
          {{ end }}
        </div>
        {{ end }}
      </div>
    </div>
  </div>
{{ end }}
